.card.small{
  max-width:150px;
}

.card.small img{
  width:100%;
  border-radius:10px;
}

.deck-group{
  margin:20px auto;
}

.deck-group h3{
  color:#ff3b5c;
  margin-bottom:10px;
}

.counter{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top:6px;
}

.counter button{
  background:#222;
  color:#fff;
  border:none;
  width:28px;
  height:28px;
  border-radius:50%;
  cursor:pointer;
}
